@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff");
  font-weight: 500;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff");
  font-weight: 300;
}

.icons {
  background-image: url("../img/sprite-icons.png");
  background-repeat: no-repeat;
  display: block;
}

.icons-ico-arrow-active {
  width: 11px;
  height: 10px;
  background-position: -10px -10px;
}

.icons-ico-arrow-hvr {
  width: 11px;
  height: 10px;
  background-position: -41px -10px;
}

.icons-ico-calendar-down {
  width: 21px;
  height: 22px;
  background-position: -72px -10px;
}

.icons-ico-calendar-hvr {
  width: 21px;
  height: 22px;
  background-position: -113px -10px;
}

.icons-ico-checkbox {
  width: 22px;
  height: 22px;
  background-position: -154px -10px;
}

.icons-ico-checkbox-active {
  width: 26px;
  height: 22px;
  background-position: -196px -10px;
}

.icons-ico-decrease-down {
  width: 12px;
  height: 3px;
  background-position: -242px -10px;
}

.icons-ico-decrease-hvr {
  width: 12px;
  height: 3px;
  background-position: -274px -10px;
}

.icons-ico-footer-logo {
  width: 113px;
  height: 39px;
  background-position: -306px -10px;
}

.icons-ico-footer-logo-hvr {
  width: 113px;
  height: 39px;
  background-position: -439px -10px;
}

.icons-ico-increase-down {
  width: 11px;
  height: 11px;
  background-position: -572px -10px;
}

.icons-ico-increase-hvr {
  width: 11px;
  height: 11px;
  background-position: -603px -10px;
}

.icons-ico-social-fb {
  width: 10px;
  height: 19px;
  background-position: -634px -10px;
}

.icons-ico-social-tw {
  width: 17px;
  height: 15px;
  background-position: -664px -10px;
}

.icons-ico-social-yt {
  width: 20px;
  height: 16px;
  background-position: -701px -10px;
}

.icons-ico-star {
  width: 17px;
  height: 17px;
  background-position: -741px -10px;
}

.icons-ico-xcheckbox-disabled- {
  width: 22px;
  height: 22px;
  background-position: -778px -10px;
}

.icons-ico-xcheckbox-disabled-active {
  width: 26px;
  height: 22px;
  background-position: -820px -10px;
}

.icons-ico-xxcalendar {
  width: 21px;
  height: 22px;
  background-position: -866px -10px;
}

.icons-ico-xxdecrease {
  width: 12px;
  height: 3px;
  background-position: -907px -10px;
}

.icons-ico-xxincrease {
  width: 11px;
  height: 11px;
  background-position: -939px -10px;
}

.sprite-services {
  background-image: url("../img/sprite-services.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-services-service1 {
  width: 75px;
  height: 72px;
  background-position: -10px -10px;
}

.sprite-services-service2 {
  width: 74px;
  height: 70px;
  background-position: -105px -10px;
}

.sprite-services-service3 {
  width: 64px;
  height: 76px;
  background-position: -199px -10px;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-weight: 300;
}

main {
  text-align: center;
}

h2 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.main-header {
  position: relative;
}

/*Header*/
.main-navigation {
  padding: 0 73px;
  background-color: #ffffff;
}

/*.main-navigation .header-logo {
  float: left;
  width: 138px;
  height: 56px;
  margin: 0 auto;
}
*/

.main-navigation li {
  float: left;
  width: 239px;
  margin-left: 0;
  margin-right: 0;
  padding: 16px 0;
  text-transform: uppercase; /*Это типографика или оформление?*/
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
}

.main-navigation li:hover {
  color: #81b3d2;
}

.main-navigation li:nth-child(2) {
  margin-right: 98px;
}

.main-navigation li:nth-child(3),
.main-navigation li:nth-child(4) {
  text-align: right;
}

.main-navigation a {
  color: #000000;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #b2b2b2;
}

.main-navigation .main-navigation-current,
.main-navigation .main-navigation-current:hover {
  color: #766357;
}

.main-navigation .main-navigation-current:active {
  color: #d6d0cc;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  width: 138px;
  height: 70px;
  z-index: 2;
}

.index-logo {
  background: url("../img/bg.jpg") 0 0 no-repeat;
  height: 507px;
  padding-top: 76px;
  box-sizing: border-box; /*Это блочная модель или оформление? Это оформление.*/
  position: relative;
}

.index-logo::after {
  content: "";
  background: url("../img/plate.png") 0 0 no-repeat;
  width: 1200px;
  height: 57px;
  display: block;
  position: absolute;
  bottom: 0;
}

.index-logo img {
  display: block;
  width: 458px;
  margin: 0 auto;
}

.index-content {
  padding-top: 59px;
  padding-bottom: 50px;
  box-sizing: border-box; /*Досортировать*/
  background-color: #ffffff;
}

.index-content-title {
  width: 450px;
  min-height: 52px;
  margin: 0 auto 28px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.index-content-description {
  width: 500px;
  min-height: 26px;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.feature-text {
  float: left;
  width: 400px;
  min-height: 256px;
  padding-top: 55px;
  box-sizing: border-box;
  background-color: #81b3d2;
}

.feature-title {
  width: 151px;
  min-height: 42px;
  margin: 0 auto 27px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
}

.feature-title::after {
  content: "— №1 —";
  display: block;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.feature-second-text .feature-title::after {
  content: "— №2 —";
}

.feature-description {
  width: 300px;
  min-height: 42px;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.feature-description-second {
  width: 320px;
}

.feature-image {
  float: left;
  width: 800px;
  height: 256px;
}

.service {
  float: left;
  width: 400px;
  min-height: 330px;
  padding-top: 55px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.service::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background: url("../img/sprite-services.png");
  margin: 0 auto 30px;
}

.service:nth-child(1)::before {
  width: 75px;
  height: 76px;
  background-position: -1px -2px;
}

.service:nth-child(2)::before {
  width: 75px;
  height: 76px;
  background-position: -91px -2px;
}

.service:nth-child(3)::before {
  width: 75px;
  height: 76px;
  background-position: -180px -2px;
}

.service-title {
  display: block;
  width: 110px;
  min-height: 21px;
  margin: 0 auto 25px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.service-description {
  width: 300px;
  min-height: 42px;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.feature-second-text {
  float: right;
}

.other-features {
  background-color: #eeeeee;
}

.other-feature {
  float: left;
  width: 400px;
  min-height: 256px;
  padding-top: 47px;
  box-sizing: border-box;
}

.other-feature-title {
  width: 130px;
  min-width: 42px;
  margin: 0 auto 24px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.other-feature-title::after {
  content: "— №3 —";
  display: block;
  margin-top: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.other-feature:nth-child(2) .other-feature-title::after {
  content: "— №4 —";
}

.other-feature:nth-child(3) .other-feature-title::after {
  content: "— №5 —";
}

.other-feature-description {
  width: 275px;
  min-width: 42px;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.search {
  width: 1200px;
  height: 291px;
  padding-top: 55px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.search-title {
  width: 310px;
  min-height: 24px;
  margin: 0 auto 31px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  color: #000000;
}

.search-description {
  width: 450px;
  min-height: 58px;
  margin: 0 auto 37px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

/* Здесь нужно min-height, width и margin? */
.search-btn {
  display: block;
  width: 570px;
  margin: 0 auto;
  padding: 30px 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
}

.map {
  width: 1200px;
  height: 593px;
}

.content-top {
  background: url("../img/filter-bg.jpg"); /*Это к чему относится?*/
  padding: 25px 73px 12px;
  box-sizing: border-box;
}

.filter-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

/*
.filter-item label {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

*/

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  /*Можно ли ширину задавать в зависимотсти от контента?*/
  width: 130px;
  margin: 24px 0;
  padding-left: 40px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  background-position: -154px -10px;
  background-image: url("../img/sprite-icons.png");
  background-repeat: no-repeat;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 22px;
  background-position: -196px -10px;
  background-image: url("../img/sprite-icons.png");
  background-repeat: no-repeat;
}

input[type="checkbox"]:disabled + label {
  cursor: auto;
}

input[type="checkbox"]:disabled + label::before {
  background-position: -778px -10px;
}

input[type="checkbox"]:disabled:checked + label::after {
  background-position: -820px -10px;
}

/*Не получилось сделать отступы для content-top*/
/*Высоту закомментировал, у меня по ней вопрос)*/
.filter-block-left-first {
  float: left;
  width: 240px;
  /*height: 157px;*/
  text-align: left;
  box-sizing: border-box;
}

.filter-block-left-second {
  float: left;
  width: 288px;
  padding-left: 14px;
  /*height: 157px;*/
  text-align: left;
  box-sizing: border-box;
}

.filter-block-right {
  float: right;
  width: 328px;
  /*Почему он не задает высоту?*/
  /*height: 157px;*/
  /*Это не задает*/
  text-align: left;
  /*Это не задает*/
  /*box-sizing: border-box;*/
  color: #ffffff;
  text-transform: uppercase;
}

.filter-block-right-title {
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  /*Почему он задает 38*/
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
  /*Что это такое?*/
  outline: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;

}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-btn {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.filter-btn:hover {
  color: #000000;

  background: #ffffff;
}

.content-center {
  padding: 30px 73px;
  box-sizing: border-box;
  background-color: #fefefe;
}

.found {
  float: left;
  width: 165px;
  min-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

/*Не опускается!*/
.sort-title {
  float: left;
  width: 116px;
  min-height: 26px;
  padding-top: 7px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  box-sizing: border-box;
  color: #000000;
}

/*Если смотреть в хроме, там есть класс sort 1200 на 0. Это не нормально?*/

.sort-by {
  float: left;
  width: 247px;
  text-align: left;
}

.sort-by li {
  display: inline-block;
  margin-right: 28px;
  vertical-align: middle;
}

.sort-by li:last-child {
  margin-right: 0;
}

.sort-by a {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #b1b1b1;
  border-bottom: 1px dotted #81b3d2;
}

.sort-by .current {
  color: #81b3d2;
  border-bottom: none;
}

.sort-by a:hover {
  color: #81b3d2;
}

.sort-by a:active {
  color: #000000;
  border-bottom: none;
}

.sort-icons {
  float: right;
  width: 400px;
  text-align: right;
  box-sizing: border-box;
}

.sort-icon {
  position: relative;
  display: inline-block;
  width: 11px;
  height: 10px;
  margin-left: 12px;
  font-size: 0px;
  background-color: white;
  vertical-align: middle;
  cursor: pointer;
}

.sort-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 11px;
  height: 10px;
  opacity: 0.3;
  background-position: -41px -10px;
  background-image: url("../img/sprite-icons.png");
  background-repeat: no-repeat;
}

.sort-icon:hover::before {
  opacity: 1;
}

.sort-icon:active::before {
  background-position: -10px -10px;
  opacity: 1;
}

.sort-icon-decrease {
  transform: rotate(180deg);
}

.sort-icon-current::before {
  background-position: -10px -10px;
  opacity: 1;
}

.content-bottom {
  background-color: #fefefe;
}

.catalog-item {
  height: 151px;
  padding: 30px 73px;
  border-top: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.catalog-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.catalog-item-img {
  float: left;
  width: 135px;
  height: 90px;
  padding-top: 0;
  margin-right: 30px;
  text-align: left;
  box-sizing: border-box;
}

.catalog-item-info {
  float: left;
  width: 363px;
  height: 91px;
  text-align: left;
  vertical-align: top; /*А это к чему относится?*/
  box-sizing: border-box;
}

/*Здесь font-size теперь больше line-height. Это нормально? */
.catalog-item-title {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 9px;
  font-size: 21px;
  line-height: 18px;
}

.catalog-item-title a {
  color: #000000;
}

.catalog-item-title a:hover {
  color: #81b3d2;
}

.catalog-item-title a:active {
  color: #b2b2b2;
}

.catalog-item-type {
  display: inline-block;
  width: 105px;
  margin-right: 6px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.catalog-item-cost {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.catalog-item-btn {
  display: inline-block;
  width: 110px;
  height: 27px;
  margin-right: 2px;
  padding: 3px 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #81b3d2;
}

.catalog-item-btn:nth-child(2) {
  width: 142px;
  background-color: #766357;
}

.catalog-item-btn:hover {
  background-color: #669ec0;
}

.catalog-item-btn:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.catalog-item-btn:nth-child(2):hover {
  background-color: #604e43;
}

.catalog-item-btn:nth-child(2):active {
  color: #857871;
  background-color: #503e33;
}

.star::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  background: url("../img/sprite-icons.png");
  background-position: -741px -10px;
  background-repeat: no-repeat;
}

.catalog-item-rating-info {
  float: right;
  width: 150px;
  text-align: right;
  box-sizing: border-box;
}

.catalog-item-rating {
  display: inline-block;
  width: 110px;
  height: 27px;
  padding: 3px 0;
  margin-top: 43px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  box-sizing: border-box;
  color: #666666;
  background-color: #f2f2f2;
}

.footer {
  text-align: center;
  background-color: #fefefe;
}

.main-footer {
  position: absolute;
  bottom: 0;
  background-color: rgba(254, 254, 254, 0.9);
  z-index: 2;
}

.footer-hashtag {
  float: left;
  width: 400px;
  min-height: 120px;
  padding: 45px 0;
  box-sizing: border-box;
}

.footer-hashtag a {
  width: 140px;
  min-height: 26px;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.footer-social {
  float: left;
  width: 400px;
  min-height: 120px;
  padding: 35px 0;
  font-size: 0;
  text-align: center;
  box-sizing: border-box;
}

.social-btn {
  display: inline-block;
  vertical-align: middle;
  width: 46px;
  height: 48px;
  margin: 0 3px;

  font-size: 0;
  text-decoration: none;

  background-color: #81b3d2;
  position: relative;
}

.social-btn:hover {
  background-color: #669ec0;
}

/*Как затемнить саму картинку? Сама картинка должна быть синей*/
.social-btn:active {
  background-color: #5496bd;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite-icons.png");
  background-repeat: no-repeat;
}

.social-btn-twitter::before {
  width: 17px;
  height: 15px;
  background-position: -664px -10px;
}

.social-btn-facebook::before {
  width: 10px;
  height: 19px;
  background-position: -634px -10px;
}

.social-btn-youtube::before {
  width: 20px;
  height: 16px;
  background-position: -701px -10px;
}

.social-btn:active::before {
  opacity: 0.3;
}

.footer-copyright {
  float: left;
  width: 400px;
  min-height: 120px;
  padding: 40px 0;
  box-sizing: border-box;
}

/*Здесь нужна ширина и высота или она наследуется?*/
.footer-copyright .copyright {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  vertical-align: middle;
  color: #000000;
}

.footer-copyright a {
  position: relative;
  display: inline-block;
  width: 113px;
  height: 39px;
  vertical-align: middle;
}

.footer-copyright a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 113px;
  height: 39px;
  background-position: -306px -10px;
  background-image: url("../img/sprite-icons.png");
  background-repeat: no-repeat;
}

.footer-copyright a:hover::before {
  background-position: -439px -10px;
}

.footer-copyright a:active::before {
  background-position: -306px -10px;
  opacity: 0.3;
}

/* Всплывающая форма */

@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}



.modal-content {
  position: absolute;
  top: 2169px;
  left: 631px;

  display: none;
  width: 460px;
  height: 285px;
  margin-left: -316px;
  padding: 55px 55px;

  color: #000000;
  background-color: #ffffff;
  /*Кажется нужно поправить тень :D*/
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.4);

}

.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}



.find-form .arrival,
.find-form .departure {
  position: relative;
  margin-bottom: 30px;
  font-size: 0;
}

.find-form .age {
  font-size: 0;
  margin-bottom: 55px;
}

.find-form label {
  display: inline-block;

  width: 115px;
  padding: 6px 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  vertical-align: top;

  color: #000000;
  cursor: pointer;
}

.find-form input {
  display: inline-block;

  width: 345px;
  height: 38px;
  margin: 0;
  padding: 6px 15px;
  padding-right: 40px;

  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;

  vertical-align: top;

  background-color: #f2f2f2;
  border: none;
  outline: none;

  color: #000000;
  box-sizing: border-box;
}

.find-form input:hover {
  background-color: #ebebeb;
}

.find-form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
}

.find-form .ico-calendar {
  position: absolute;
  top: 8px;
  left: 427px;
  width: 21px;
  height: 22px;
  background-image: url("../img/sprite-icons.png");
  background-repeat: no-repeat;
  background-position: -866px -10px;
}

.arrival-date:hover ~ .ico-calendar,
.departure-date:hover ~ .ico-calendar {
  width: 21px;
  height: 22px;
  background-position: -113px -10px;
  cursor: pointer;
}

.ico-calendar:hover {
  width: 21px;
  height: 22px;
  background-position: -113px -10px;
  cursor: pointer;
}

.arrival-date:focus ~ .ico-calendar,
.departure-date:focus ~ .ico-calendar {
  width: 21px;
  height: 22px;
  background-position: -72px -10px;
}

.ico-calendar:active {
  width: 21px;
  height: 22px;
  background-position: -72px -10px;
}

.adult,
.child {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.quantity-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
}

.quantity-btn:hover {
  cursor: pointer;
}

.age input {
  width: 38px;
  height: 38px;
  padding: 6px 0;
  text-align: center;
}

.quantity-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite-icons.png");
  background-repeat: no-repeat;

}

.quantity-btn-decrease::before {
  width: 12px;
  height: 3px;
  background-position: -907px -10px;
}

.quantity-btn-decrease:hover::before {
  width: 12px;
  height: 3px;
  background-position: -274px -10px;
  cursor: pointer;
}

.quantity-btn-decrease:active::before {
  width: 12px;
  height: 3px;
  background-position: -242px -10px;
}

.quantity-btn-increase::before {
  width: 11px;
  height: 11px;
  background-position: -939px -10px;
}

.quantity-btn-increase:hover::before {
  width: 11px;
  height: 11px;
  background-position: -603px -10px;
  cursor: pointer;
}

.quantity-btn-increase:active::before {
  width: 11px;
  height: 11px;
  background-position: -572px -10px;
}

/*
.decrease:active {
  width: 12px;
  height: 3px;
  background-position: -242px -10px;
}
*/
.age .child-quantity {
  margin-left: 50px;
  width: 65px;
}

.find-btn {
  display: inline-block;
  width: 458px;
  height: 58px;
  padding: 16px 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  outline: none;
  cursor: pointer;
}

.find-btn:hover {
  background-color: #669ec0;
}

.find-btn:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

